[Connect]
server = irc.freenode.net
port = 6667
channel = #test
nickname = fortunebot
realname = fortunebot
reconnect = yes
reconnect_interval = 30

[Scripts]
enable_weather = yes
enable_insult = yes
enable_8ball = yes
enable_fortune = yes
enable_markov = yes
enable_help = yes
weather_key = YOURKEYHERE
fortune_length = 100
markov_data = 
markov_listen = yes
markov_respond = fortunebot
