[Connect]
server = irc.freenode.net
port = 6667
channels = #test
nickname = fortunebot
realname = fortunebot
reconnect_tries = 100
reconnect_interval = 30

[Scripts]
enable_weather = yes
enable_insult = yes
enable_8ball = yes
enable_fortune = yes
enable_markov = yes
enable_remind = yes
enable_replace = yes
enable_burn = yes
weather_key = YOURKEYHERE
fortune_length = 100
markov_path =
markov_listen = yes
markov_record = yes
markov_respond = fortunebot
remind_durlimit = 604800
remind_tasklimit = 1000
replace_shortcut = yes
replace_maxlength = 200
replace_maxlines = 20
burn_words = your face
