##################################################
# Core connect configurations
# All options in this section must have a value
##################################################

[Connect]

# The IRC server and port to connect to
server = irc.freenode.net
port = 6667

# The channels to join
# Multiple channels can be specified by delimiting by space
# e.g. channels = a b c
channels = test

# The IRC nickname and realname to use
nickname = fortunebot
realname = fortunebot

# Upon disconnection, the bot will try to reconnect automatically
# reconnect_tries specifies the attempt limit, after which the process
# terminates
# reconnect_interval specifies the number of seconds between each reconnect
# attempt
reconnect_tries = 100
reconnect_interval = 30

# To make sure it hasn't disconnected, the bot will ping the IRC server
# periodically
# ping_tries specifies the max number of unreciprocated pings allowed, after
# which the bot will disconnect and begin attempting to reconnect
# ping_interval specifies the number of seconds between each ping
ping_tries = 10
ping_interval = 30

##################################################
# Script-specific configurations
# The options in this section are not required, but the absence of any
# script-specific option will prevent that script from loading
# Each script's option is prefixed with the script's name
##################################################

[Scripts]


##### Weather
# key: API key for worldweatheronline
# cachedur: How long to cache geolocation results and zip code data
# setlimit: How many people are allowed to set zip codes (-1 for unlimited)
enable_weather = yes
weather_key =
weather_cachedur = 300
weather_setlimit = 100

##### Insult
enable_insult = yes

##### 8ball
enable_8ball = yes

##### Fortune
# length: Longest fortune length allowed
enable_fortune = yes
fortune_length = 100

##### Markov
# path: Path of file to serve as initial corpus
# listen: Toggle growing corpus by logging new messages
# record: Toggle recording new messages back into corpus file
# respond: Word to respond to with markov-generated text
enable_markov = yes
markov_path =
markov_listen = yes
markov_record = yes
markov_respond = fortunebot

##### Remind
# durlimit: Limit of how far into the future bot is willing to remind
# tasklimit: Maximum number of tasks that can be set
enable_remind = yes
remind_durlimit = 604800
remind_tasklimit = 1000

##### Replace
# shortcut: Enable the s// syntax to trigger script
# maxlength: Maximum length of replaced output text
# maxlines: Maximum number of lines to remember for each user
enable_replace = yes
replace_shortcut = yes
replace_maxlength = 200
replace_maxlines = 20

##### Burn
# words: String to respond to with burn message
enable_burn = yes
burn_words = your face
